body {
  font-family: sans-serif;
}

.playerContainer {
  display: flex;
  flex-direction: row;
  position: relative;
  min-height: 700px;
}

.playerBackgrounds {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.playerItemLink {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: 1;
  height: 100%;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  background: 0px center;
  border-width: 0px;
  border-style: initial;
  border-color: initial;
  border-image: initial;
}


@keyframes fadeIn {
  from {
    opacity: 0.8;
  }
  to {
    opacity: 1;
  }
}

.playerBackgroundImage.activeBackground {
  z-index: 2;
  display: block;
  height: 100%;
  background-size: cover;
  animation: fadeIn ease-in 1;
  animation-duration: 1s;
  opacity: 1;
}

.playerBackgroundImage.previousBackground {
  z-index: 1;
  display: block;
}

.playerInfo {
  background-color: blue;
  color: white;
  font-weight: bold;
  font-size: 0.9em;
  padding: 3px;
  text-transform: uppercase;
}

.playerContent {
  color: white;
  animation-duration: 0.5s;
  animation-name: fadeInUp;
}

.playerActive.playerContent {
  opacity: 1;
}

@keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
} 

h2 {
  color: white;
}

.playerItem.activePlayer {
  flex: 2;
}

.playerDetails {
  margin-top: 130px;
  text-align: center;
}

.playerItem {
  max-height: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 0;
  flex-wrap: wrap;
  background-size: cover;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
  background-position: center;
  transition: all 0.5s ease;
  z-index: 3;
}
